.form{
    width: 30rem;
    padding: 3rem;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
    border: 2px $primary-color solid;
    border-radius: 10%;
    box-sizing: border-box;

    &-group{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &-control{
        padding: 0.4rem;
    }

    small>a{
        text-decoration: none;
        color: $primary-color;
    }
}