#home-picture{
    .cls-1 {
    fill: #3f3d56;
    }

    .cls-2 {
    fill: #a0616a;
    }

    .cls-3 {
    fill: #fe6442;
    }

    .cls-4 {
    fill: #d44100;
    }

    .cls-5 {
    fill: #2f2e41;
    }

    .cls-6 {
    opacity: 0.2;
    isolation: isolate;
    }

    .cls-7 {
    fill: #f2f2f2;
    }

    .cls-8 {
    fill: #b3b3b3;
    }

    .cls-9 {
    fill: #fff;
    }

    .cls-10 {
    fill: #e6e6e6;
    }

    .cls-11 {
    fill: #c9aa00;
    }

    .cls-12 {
    fill: #f4c700;
    }

    .cls-13 {
    fill: #bf5000;
    }

    .cls-14 {
    fill: #ffdb6a;
    }
}