<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.min.css">
    <title>Document</title>
</head>
<body>
    <nav class="nav nav-main">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/users/register" class="nav-item">Register</a></li>
            <li><a href="/users/login" class="nav-item">Login</a></li>
        </ul>
    </nav>
    <h1>Hello World</h1>
</body>
</html>